* {
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
}

body {
    font-family: Arial, sans-serif !important;
    background-color: #d62b60 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
}


/* Contenedor de registro */

.register-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    height: 100% !important;
    background-image: url('../../image/pexels-pixabay-459301.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
}


/* Caja del formulario */

.register-box {
    background-color: white !important;
    display: flex !important;
    width: 100% !important;
    max-width: 800px !important;
    border-radius: 10px !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) !important;
    overflow: hidden !important;
}


/* Contenedor del formulario */

.form-container {
    width: 50% !important;
    padding: 30px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}


/* Encabezado del formulario */

h2 {
    margin: 0 !important;
    color: #d62b60 !important;
    text-align: center !important;
}


/* Grupos de entrada de texto */

.input-group {
    margin-bottom: 20px !important;
    text-align: left !important;
}


/* Etiquetas de texto */

.input-group label {
    display: block !important;
    font-size: 14px !important;
    color: #333 !important;
    margin-bottom: 5px !important;
}


/* Campos de entrada */

.input-group input {
    width: 100% !important;
    padding: 10px !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    font-size: 16px !important;
}


/* Botón de envío */

.btn {
    width: 100% !important;
    padding: 10px !important;
    background-color: #f26486 !important;
    /* Color del botón */
    border: none !important;
    color: white !important;
    font-size: 16px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    margin-bottom: 20px !important;
}

.btn:hover {
    background-color: #d62b60 !important;
    /* Color del botón al pasar el mouse */
}


/* Ajustes responsivos */

@media (max-width: 768px) {
    .register-box {
        max-width: 400px !important;
    }
}