body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

.menu {
    width: 20%;
    height: 100vh;
    background-color: #f26486;
    /* Color de fondo similar al login */
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
}

.menu h3 {
    text-align: center;
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

.menu a {
    display: block;
    color: #333;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 10px;
    background-color: #fff;
    /* Fondo blanco para los enlaces */
    border-radius: 4px;
    border: 1px solid #ccc;
    /* Bordes sutiles */
}

.menu a:hover {
    background-color: #d62b60;
    /* Color de hover del login */
    color: white;
    /* Color del texto en hover */
}

.panel {
    margin-left: 20%;
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    /* Fondo blanco para el panel principal */
    display: flex;
    flex-direction: column;
}

.header {
    height: 50px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header span {
    float: right;
    color: #333;
}

#content {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #d3d3d3;
    /* Fondo gris claro */
    padding: 20px;
    box-sizing: border-box;
}