<body>
    <div class="menu">
        <h3>Menú</h3>
        <a href="#">Inicio</a>
        <a href="#">Afiliado</a>
        <a href="#">Prestador</a>
        <a href="#">Autorización</a>
        <a href="#">Servicio</a>
        <a href="#">Pago</a>
    </div>

    <div class="panel">
        <div class="header">
            <strong></strong>
            <span>Administrador: 👮 | <a href="#">Salir</a></span>
        </div>
        <div id="content">
            <h2>Navegación</h2>
        </div>
    </div>
</body>