<div class="login-container">
    <div class="login-box">
        <div class="image-container">
            <div class="image-description">
                <h2>Registro de Usuario</h2>
            </div>
        </div>
        <div class="form-container">
            <div class="input-group">
                <label for="nombre_usuario">Nombre:</label>
                <input type="text" id="nombre_usuario" placeholder="Ingresar nombre" />
            </div>
            <div class="input-group">
                <label for="apellido_usuario">Apellido:</label>
                <input type="text" id="apellido_usuario" placeholder="Ingresar apellido" />
            </div>
            <div class="input-group">
                <label for="nombre_ingreso_usuario">Nombre de Usuario:</label>
                <input type="text" id="nombre_ingreso_usuario" placeholder="Ingresar nombre de usuario" />
            </div>
            <div class="input-group">
                <label for="clave_ingreso_usuario">Contraseña:</label>
                <input type="password" id="clave_ingreso_usuario" placeholder="Ingresar contraseña" />
            </div>
            <div class="input-group">
                <label for="tipo_usuario">Tipo de Usuario:</label>
                <select id="tipo_usuario">
                    <option value="administrador">Administrador</option>
                    <option value="usuario">Usuario</option>
                </select>
            </div>
            <div class="input-group">
                <label for="estado_usuario">Estado:</label>
                <select id="estado_usuario">
                    <option value="activo">Activo</option>
                    <option value="inactivo">Inactivo</option>
                </select>
            </div>
            <button class="btn">Registrar</button>
        </div>
    </div>
</div>